In [1]:
import sqlite3

In [2]:
#connect to the SQLite database
conn = sqlite3.connect('example.db')
conn

In [3]:
cursor = conn.cursor()
cursor.execute('''
               CREATE TABLE IF NOT EXISTS employees(
               id Integer PRIMARY KEY,
               name Text NOT NULL,
               age Integer ,
               department Text NOT NULL)
               ''')
conn.commit()

In [5]:
cursor.execute('''
               Select * from employees
               ''')

In [6]:
cursor.execute('''
insert into employees(name,age,department)
               values('krish',32,'Data Scientist')
                ''')
conn.commit()

In [9]:
cursor.execute(''' 
select * from employees''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'krish', 32, 'Data Scientist')

In [10]:
cursor.execute(''' 
update employees
               set age = 39
               where name = 'krish'
               ''')               
conn.commit()

In [11]:
cursor.execute(''' 
select * from employees''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'krish', 39, 'Data Scientist')

In [12]:
cursor.execute(''' 
delete from employees
               where name = 'krish'
               ''')               
conn.commit()

In [13]:
cursor.execute(''' 
select * from employees''')
rows = cursor.fetchall()

for row in rows:
    print(row)

In [14]:
cursor.execute('''
insert into employees(name,age,department)
               values('krish',32,'Data Scientist')
                ''')
conn.commit()

In [15]:
cursor.execute(''' 
select * from employees''')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'krish', 32, 'Data Scientist')